a.btn.btn-block.btn-default.btn-lg(href="#/squad/{{data.club.id}}") Squad
a.btn.btn-block.btn-default.btn-lg(href="#/leage/{{data.club.league}}") League
a.btn.btn-block.btn-default.btn-lg(href="#/finances") Finances
a.btn.btn-block.btn-default.btn-lg(href="#/transferlist") Transfer List
a.btn.btn-block.btn-default.btn-lg(href="#/search") Search
a.btn.btn-block.btn-default.btn-lg(href="#/world") World
a.btn.btn-block.btn-default.btn-lg(href="#/options") Options
a.btn.btn-block.btn-default.btn-lg(ng-click="quit()") Quit