extends titled-layout
block title
	span Load Game
block content
	for savedGame in persistenceManager.savedGames
		button.btn.btn-default.btn-block.btn-lg(onclick="invoke('load', {name: '#{savedGame.name}'}, 'home')")= savedGame.name
