extend tabbed-layout
block setup
	id = request.getParameter('id')
	tab = request.getParameter('tab', 'attributes')
	player = entityManager.findById(id)
block title
	span= player.name
block tabs
	+tab('profile', 'Profile')
	+tab('attributes', 'Attributes')
	+tab('stats', 'Stats')
block actions
	+action('release', 'Release')
block content
	if(tab == 'profile')
		a.btn.btn-block.btn-default.btn-lg(onclick="fetch('club?id=#{player.club.id}')")= player.club.name
	else
		h3 Not yet implemented
block modals
	+modal-form("release", "Release", id + "/release")
		p Are you sure you want to release this player?