include mgf-mixins
block setup
div.page-header
	h1
		block title
div.page-content.row
		div.sidebar.col-md-2.well
			ul.nav.nav-sidebar.nav-pills.nav-stacked.tabs
				li Views
				block tabs
			hr
			ul.nav.nav-sidebar.nav-pills.nav-stacked.actions
				li Actions
				block actions
		div.tab-content.col-md-10.well.col-md-offset-2
			block content
block modals
